.Middle {
  margin: 0 auto;
}

h1 {
  font-size: 36px;

}
li {
  margin: 10px;
}
.line {
  border: 0;
  border-top: 1px dashed #CCC;
  border-bottom: 2px solid #CCC;
  height: 3px;
}
h2 {
  font-size: 24px; 
}
p {
  font-size: 20px;
}
* {
  font-family: 'Roboto', sans-serif;
}

